<h3>{{viewTitle}}</h3>

<form action="/api/student" method="put" id="update" autocomplete="off">
  <input type="hidden" name="_id" value="{{student._id_}}">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="FirstName" placeholder="First Name" value="{{student.FirstName}}">
        <div class="text-danger">
       
        </div>
    </div>
     <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="LastName" placeholder="Last Name" value="{{student.LastName}}">
        <div class="text-danger">
           
        </div>
    </div>
     <div class="form-group">
        <label>Age</label>
        <input type="Number" class="form-control" name="Age" placeholder="Age"  value="{{student.Age}}">
    </div>
  
     <div class="form-group col-md-6">
        <label>class</label>
        <input type="text" class="form-control" name="Class" placeholder="Class"  value="{{student.Class}}">
    </div>
    <div class="form-group col-md-6">
        <label>Year</label>
        <input type="Number" class="form-control" name="Year" placeholder="Year" value="{{student.Year}}">
    </div>
    
     <div class="form-group">
        <label>Lesson</label>
        <input type="text" class="form-control" name="Lesson" placeholder="Lesson" value="{{student.Lesson}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> save</button>
        <a class="btn btn-secondary" href="/student/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>